body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #666060;
    padding: 20px;
}
.container {
    max-width: 1000px;
    max-height: 500px;

    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background-color: rgb(213, 207, 207);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

input {
    width: 100%;
    font-size: 20px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    background: #050505f0;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background: #5e5e5f8d;
}
.weather-info {
    margin-top: 20px;
}
.div-weather-info {
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
}