body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
}

.container {
    background: rgb(173, 187, 50);
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(127, 210, 115, 0.87);
    width: 200px;
}


