body {
  background-color: black;
}

h1 {
  color: lightgray;
  text-align: center;
}


h3 {
  color: slategray;
  text-align: center;
}

ul {
  color: darkgrey;
  text-align: left;
}

p {
  font-family: verdana;
  font-size: 20px;
}